
<body>
	<h1>Sales Details for <%= link_to @person.name, person_deals_path(person_id: @person.id) %> </h1>
	<span>Salary plus commission for the year is calculated at: <%= number_to_currency(@person.calculate_commission) %></span>
<!-- above link destination should be to display compensation -->
<!--Add something else to show for this individual person and reserve the nested details for the views that handle them -->
	<br>
	<%= link_to 'Back', people_path %><br>
	<%= link_to 'Edit', edit_person_path(@person) %><br>
	<%= link_to 'Delete', person_path, method: 'delete' %><br>
</body>