<h3>Sales data for <%= @person.name %><br><%= @person.address %></h3>
<h3><%= link_to "List of people", people_path %></h3>
<h4><%= link_to "Back to #{@person.name}", @person %></h4>
<span>Salary plus commission for the year is calculated at: <%= number_to_currency(@person.calculate_commission) %></span>
<%= render 'google_map', person: @person %>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th colspan="3">Amount</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @person.deals.each do |deal| %>
			<td><%= link_to deal.title, person_deal_path(person_id: @person.id, id: deal.id) %></td>
			<td><%= deal.description %></td><td><%= deal.amount %></td>
		</tr>
		<% end %> 
	</tbody>
</table>

<br>
